<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styles/build.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
</head>

<body class="font-mono">
    <div class="bg-zinc-800 h-screen flex gap-2 p-2">
        <div class="h-full flex-1 bg-zinc-900 rounded text-white flex flex-col items-center">
            <div class="border-b-1 w-full border-gray-600 flex justify-center pb-2">
                <h1 class="text-2xl mt-4">Admin Panel</h1>
            </div>
            <div class="w-full mt-4 pl-6 flex flex-col gap-2 items-start">
                <a href="/">
                    <i class="fa-solid fa-table-cells-large"></i>
                    Dashboard
                </a>
                <a href="/products" class="text-blue-500 hover:text-blue-700 transition-all duration-300 ease-in-out">
                    <i class="fa fa-reorder"></i>
                    Products
                </a>
                <a href="/homeSlider">
                    <i class="fa-solid fa-panorama"></i>
                    HomeSliders
                </a>
            </div>
        </div>
        <div class="h-full flex-5 flex flex-col justify-between bg-zinc-900 rounded text-white relative">
            <div 
                class="p-4 z-0 overflow-y-auto
                [&::-webkit-scrollbar]:w-2
                [&::-webkit-scrollbar-track]:rounded-full
                [&::-webkit-scrollbar-track]:bg-zinc-500/30
                [&::-webkit-scrollbar-track]:backdrop-blur-xs
                [&::-webkit-scrollbar-thumb]:rounded-full
                [&::-webkit-scrollbar-thumb]:bg-black/30
                [&::-webkit-scrollbar-thumb]:backdrop-blur-xs
                dark:[&::-webkit-scrollbar-track]:bg-neutral-700
                dark:[&::-webkit-scrollbar-thumb]:bg-neutral-500
                "
            >
                <h1 class="text-2xl text-center mt-2">Products</h1>

                <div class="mt-5">
                    <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
                        <thead class="text-xs text-gray-700 uppercase border-b border-zinc-600">
                            <tr>
                                <th scope="col" class="px-6 py-3">Id</th>
                                <th scope="col" class="px-6 py-3">Name</th>
                                <th scope="col" class="px-6 py-3">Description</th>
                                <th scope="col" class="px-6 py-3">Caption</th>
                                <th scope="col" class="px-6 py-3">ImageUrl</th>
                                <th scope="col" class="px-6 py-3">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% if(locals.products) { %>
                                <% products.forEach((item,index)=>{ %>
                                    <tr
                                        class="odd:bg-zinc-800 odd:hover:bg-zinc-700 odd:text-zinc-400 even:bg-zinc-900 even:text-zinc-500 even:hover:bg-zinc-800 border-b border-zinc-600">
                                        <td class="px-6 py-4 font-medium"><%=index + 1 %></td>
                                        <td class="px-6 py-4"><%=item.heading %></td>
                                        <td class="px-6 py-4"><%=item.description %></td>
                                        <td class="px-6 py-4"><%=item.caption %></td>
                                        <td class="px-6 py-4 text-blue-400 underline decoration-1"><a href="<%=item.image %>" target="_blank">view image</a></td>
                                        <td class="px-6 py-4">
                                            <a class="cursor-pointer" href="/products/delete/<%=item._id %>">
                                                <i
                                                    class="fa-solid fa-trash-can p-2 bg-red-600 rounded text-black text-center"></i>
                                            </a>
                                            <!-- <a href="/products/edit" class="cursor-pointer">
                                                <i
                                                    class="fa-solid fa-pen-to-square p-2 bg-amber-500 text-black rounded"></i>
                                            </a> -->
                                        </td>
                                    </tr>
                                    <% }) %>
                                <% } %>
                        </tbody>
                    </table>
                </div>
            </div>
            <a href="/products/add" class="p-4 text-zinc-900 text-xl w-full z-20 backdrop-blur-xs bg-black/30 absolute bottom-0 left-0 shadow-lg">
                <button class="bg-blue-500 w-full px-3 py-2 rounded cursor-pointer">Add Product</button>
            </a>
        </div>
    </div>
</body>

</html>